body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  scroll-behavior: none;
  overflow: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: xx-large;
  width: 100%;
  font-family: "Bungee Spice", cursive;
}

.nuke-quote {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: xx-large;
  color: orange;
  width: 100%;
  font-family: "Nosifer", cursive;
}

.videocontainer {
  /* display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; */
  color: orange;
  width: 90vw;
}
iframe {
  border: 5px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: orange;
  width: 100%;
}
